<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- CSS -->
    <link rel="stylesheet" href="../resources/css/style.css">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <link rel="icon" type="icon/png" href="../resources/images/VControlLogoPNG.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VControl</title>
</head>

<body>
    <main class="login_background">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="login_form col-6 justify-content-center align-items-center">
                    <div class="row text-center">
                        <div class="col-5 left_side d-flex justify-content-center">
                            <img src="../resources/images/VControlLogoPNG.png" alt="LogoVControl" class="logo_login">
                        </div>
                        <div class="col-7 right_side d-flex justify-content-center align-items-center">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <h1>Primer Usuario</h1>
                                </div>
                                <form action="post" id="register-form" class="row register-form justify-content-center">
                                    <div class="col-6 mt-4">
                                        <h4>Nombre</h4>
                                        <input type="text" name="name" id="name" autocomplete="off" required>
                                    </div>
                                    <div class="col-6 mt-4">
                                        <h4>Apellido</h4>
                                        <input type="text" name="lastname" id="lastname" autocomplete="off" required>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <h4>Correo</h4>
                                        <input type="email" name="email" id="email" autocomplete="off" required>
                                    </div>
                                    <div class="col-6 mt-4">
                                        <h4>Contraseña</h4>
                                        <input type="password" name="pass" id="pass" required>
                                    </div>
                                    <div class="col-6 mt-4">
                                        <h4>Contraseña</h4>
                                        <input type="password" name="conf-pass" id="conf-pass" required>
                                    </div>
                                    <button type="submit" class="submit_button">Confirmar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/dashboard/first_user.js"></script>
</body>
</html>